.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
flask/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
assets/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

*.mp4